@keyframes scale {
  0% {
    transform: scale(2);
    opacity: 0;
    box-shadow: 0 0 60px rgba(139, 145, 154, 0.8);
  }
  50% {
    transform: translate(0, -4px) scale(1);
    opacity: 1;
    box-shadow: 0 10px 30px rgba(126, 123, 120, 0.9);
  }
  100% {
    transform: translate(0, 4px) scale(0.3);
    opacity: 0;
    box-shadow: 0 16px 40px rgba(15, 15, 14, 0);
  }
}
