<div
  [style.width.px]="containerWidth()"
  [style.height.px]="containerHeight()"
  class="relative flex items-center justify-center"
  #container
>
  @for (img of images(); track trackByIndex($index); let idx = $index) {
    <div
      class="card card-glow relative absolute w-[480px] aspect-square rounded-[40px] overflow-hidden transition-transform duration-300"
      [class]="'card-' + idx"
      [style.transform]="transformStyles()[idx] || 'none'"
      (mouseenter)="onCardMouseEnter($event, idx)"
      (mousemove)="onCardMouseMove($event)"
      (mouseleave)="onCardMouseLeave()"
    >
      <img class="w-full h-full object-cover" [src]="img.src" [alt]="img.alt || 'card-' + idx" />
      @if (hoveredIndex() === idx && showTooltip() && img.description) {
        <div
          class="floating-tooltip"
          [style.left.px]="tooltipPosition().x"
          [style.top.px]="tooltipPosition().y"
        >
          {{ img.description }}
        </div>
      }
    </div>
  }
</div>
